<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<main>
    <% postList.results.forEach(function(post) {%>
        <article>
            <img src="<%= post.imageUrl %>" aria-label="An image"/>
            <section aria-label="A section with a message">
                <%= post.message %>
            </section>
            <section aria-label="A section with the credits">
                <%= post.postedBy.name %>
                <%= format(post.createdAt, "dd/MM/yyyy HH:mm:ss") %>
            </section>
            <section aria-label="A section with a count of likes/dislikes">
                Likes <%= post.likedBy.length %> Dislikes <%= post.dislikedBy.length %>
            </section>
        </article>
    <% }); %>
</main>
</body>
<%- include('_footer') -%>
</html>
